.main__txt-section1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.main__txt-section1__a {
    grid-column: 1 span 2;   
}

.main__txt-section1__b {
    grid-column: 4;
}

h2 {
 /*  font-family: 'Mulish', sans-serif; */
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.42307689785957336px;
    text-align: left;
    color: rgba(74, 79, 242, 1);
}

h3 {
/* font-family: 'Mulish', sans-serif; */
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
}

.main__txt-section1__b__line {
    width: 30px;
    opacity: 0.5px;
    border: 2px solid rgba(17, 17, 17, 1); 
    padding: 0;
    margin: 0;
}

.main__txt-section1__b__text {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0;
    margin: 0;
}
