/* <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> */
p, h2, h3, h4, h5, li {
  font-family: "Mulish", sans-serif;
}

.txt_blue {
  color: rgb(74, 79, 242);
}

header {
  min-height: 100px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 6%;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.header__nav__list {
  list-style-type: none;
  display: flex;
}

.header__nav__item {
  color: black;
  padding: 20px;
}

/* ===== HOME: TEXT TOP - STYLING START ==== */
.main__txt-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.main__txt-top__a {
  grid-column: 1 span 2;
}

.main__txt-top__b {
  grid-column: 4;
}

.h2__top {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4230768979px;
  text-align: left;
  color: rgb(74, 79, 242);
}

.h3__top {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}

.main__txt-top__b__line {
  width: 30px;
  opacity: 0.5px;
  border: 2px solid rgb(17, 17, 17);
  padding: 0;
  margin: 0;
}

.main__txt-top__b__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* ===== HOME: TEXT TOP - STYLING END ==== */
/* ===== HOME: GRID PHOTO GALLERY - STYLING START ==== */
.grid_photogallery {
  background-color: aquamarine;
  padding: 50px;
  font-size: 30px;
}

/* ===== HOME: GRID PHOTO GALLERY - STYLING END ==== */
/* ===== HOME: SERVICE & AWARD LIST (GRID) - STYLING START ===== */
.grid-container__service-awards-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  gap: 20px;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

/* ===== h3 / COL 1 - GRID PLACEMENT ===== */
.h3__1 {
  grid-column: 1/3;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h3__2 {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h3__3 {
  display: grid;
  grid-column: 1;
  grid-row: 6;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

/* ===== h4 / COL 2 - GRID PLACEMENT ===== */
h4 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h4__1 {
  display: grid;
  grid-column: 2;
  grid-row: 3;
}

.h4__2 {
  display: grid;
  grid-column: 2;
  grid-row: 4;
}

.h4__3 {
  display: grid;
  grid-column: 2;
  grid-row: 6;
}

.h4__4 {
  display: grid;
  grid-column: 2;
  grid-row: 7;
}

/* ===== h5 / COL 3 - GRID PLACEMENT ===== */
h5 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
  margin: 0;
}

.h5__2 {
  display: grid;
  grid-column: 3;
  grid-row: 4;
}

.h5__4 {
  display: grid;
  grid-column: 3;
  grid-row: 7;
}

/* ===== YEAR / COL 4 - GRID PLACEMENT ===== */
.year__col4__1 {
  display: grid;
  grid-column: 4;
  grid-row: 3;
  justify-items: end;
}

.year__col4__2 {
  display: grid;
  grid-column: 4;
  grid-row: 4;
  justify-items: end;
}

.year__col4__3 {
  display: grid;
  grid-column: 4;
  grid-row: 6;
  justify-items: end;
}

.year__col4__4 {
  display: grid;
  grid-column: 4;
  grid-row: 7;
  justify-items: end;
}

/* ===== <hr> LINES - GRID PLACEMENT ===== */
.grid-container__service-awards-list__line {
  display: grid;
  grid-column: 1/span 4;
  opacity: 0.5px;
  border: 2px solid rgb(216, 216, 216);
  padding: 0;
  margin: 0;
}

/* ===== lists styling and placement ===== */
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul__col__3 {
  grid-column: 3;
}

.ul__col__4 {
  grid-column: 4;
}

/* ===== HOME: SERVICE & AWARD LIST (GRID) - STYLING END ===== */
body {
  max-width: 1440px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
}/*# sourceMappingURL=index.css.map */