header {
  min-height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header__nav {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.header__nav__list {
  list-style-type: none;
  display: flex;
}

.header__nav__item {
  color: black;
  padding: 20px;
}

/* ===== HOME: TEXT TOP - STYLING START ==== */
.home__txt-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.home__txt-top__a {
  grid-column: 1/3;
}

.home__txt-top__b {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.home__txt-top__a__h2 {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4230768979px;
  text-align: left;
  color: rgb(74, 79, 242);
}

.home__txt-top__a__h3 {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
}

.home__txt-top__b__line {
  width: 30px;
  opacity: 0.5px;
  border: 2px solid rgb(17, 17, 17);
  padding: 0;
  margin: 0;
}

.home__txt-top__b__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* ===== HOME: TEXT TOP - STYLING END ==== */
/* ===== HOME: GRID PHOTO GALLERY - STYLING START ==== */
.grid_photogallery {
  background-color: aquamarine;
  padding: 50px;
  font-size: 30px;
}

/* ===== HOME: GRID PHOTO GALLERY - STYLING END ==== */
/* ===== HOME: SERVICE & AWARD LIST (GRID) - STYLING START ===== */
.grid-container__service-awards-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  gap: 20px;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

/* ===== h3 / COL 1 - GRID PLACEMENT ===== */
.h3__1 {
  grid-column: 1/3;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h3__2 {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h3__3 {
  display: grid;
  grid-column: 1;
  grid-row: 6;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

/* ===== h4 / COL 2 - GRID PLACEMENT ===== */
h4 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
}

.h4__1 {
  display: grid;
  grid-column: 2;
  grid-row: 3;
}

.h4__2 {
  display: grid;
  grid-column: 2;
  grid-row: 4;
}

.h4__3 {
  display: grid;
  grid-column: 2;
  grid-row: 6;
}

.h4__4 {
  display: grid;
  grid-column: 2;
  grid-row: 7;
}

/* ===== h5 / COL 3 - GRID PLACEMENT ===== */
h5 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(17, 17, 17);
  margin: 0;
}

.h5__2 {
  display: grid;
  grid-column: 3;
  grid-row: 4;
}

.h5__4 {
  display: grid;
  grid-column: 3;
  grid-row: 7;
}

/* ===== YEAR / COL 4 - GRID PLACEMENT ===== */
.year__col4__1 {
  display: grid;
  grid-column: 4;
  grid-row: 3;
  justify-items: end;
}

.year__col4__2 {
  display: grid;
  grid-column: 4;
  grid-row: 4;
  justify-items: end;
}

.year__col4__3 {
  display: grid;
  grid-column: 4;
  grid-row: 6;
  justify-items: end;
}

.year__col4__4 {
  display: grid;
  grid-column: 4;
  grid-row: 7;
  justify-items: end;
}

/* ===== <hr> LINES - GRID PLACEMENT ===== */
.grid-container__service-awards-list__line {
  display: grid;
  grid-column: 1/span 4;
  opacity: 0.5px;
  border: 2px solid rgb(216, 216, 216);
  padding: 0;
  margin: 0;
}

/* ===== lists styling and placement ===== */
.ul__col__3, .ul__col__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul__col__3 {
  grid-column: 3;
}

.ul__col__4 {
  grid-column: 4;
}

/* ===== HOME: SERVICE & AWARD LIST (GRID) - STYLING END ===== */
/* QUESTION/COMMENT: I couldn't place the items correctly so had to use padding as placement */
footer {
  min-height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

.footer__logo {
  width: 100px;
  padding-top: 45px;
}

.footer__nav {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  grid-column: 3;
  padding-top: 100px;
}

.footer__nav__list {
  list-style-type: none;
}

.footer__nav__item {
  color: black;
  padding-right: 20px;
}

.so_me__icons {
  grid-column: 4;
  text-align: end;
  padding-top: 100px;
}

.dribble, .insta, .twitter {
  padding-left: 20px;
}

/* ===== PROJECTS: Section top - CONTAINER1 left - PLACEMENT & STYLING ===== */
.projects__main__container {
  display: flex;
}

.projects__main__container1__child1__h1 {
  width: 475px;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;
}

.projects__main__container1__child1__txt {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 635px;
  left: 125px;
  opacity: 0.8px;
  margin: 0;
  padding-top: 20px;
}

/* ===== PROJECTS: Section top - CONTAINER2 right - GRID PLACEMENT & STYLING ===== */
.projects__main__container2__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.projects__main__container2__child1 {
  display: grid;
  grid-column: 3;
}

.projects__main__container2__child2 {
  display: grid;
  grid-column: 4;
}

.projects_h4 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.projects_txt {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
}

.projects_hr {
  opacity: 0.5px;
  border: 2px solid rgb(216, 216, 216);
  padding: 0;
  margin: 0;
}

/* ===== PROJECTS: from img1 to bottom - GRID PLACEMENT & STYLING ===== */
.projects__main__img1 {
  width: 100%;
}

.projects__main__container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.projects__main__container3__child1, .projects__main__container3__child2, .projects__main__container3__child3 {
  width: 100%;
}

/* ===== CONTACT: TEXT - STYLING ===== */
.contact__h1 {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;
  width: 475px;
}

.contact__txt {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 445px;
}

/* ===== CONTACT: GRID LAYOUT ===== */
.contact__grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact__grid_container__col1 {
  display: grid;
  grid-column: 1;
  align-content: center;
}

.contact__grid_container__col2 {
  display: grid;
  grid-column: 2;
}

/* ===== CONTACT FORM - STYLING ===== */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 25px;
}

.input-field {
  width: 100%;
  padding: 2px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(151, 151, 151);
}

/* ===== BUTTON - STYLING ===== */
#submit_btn {
  background-color: rgb(74, 79, 242);
  color: rgb(255, 255, 255);
  width: 125px;
  height: 50px;
  border: none;
  padding: none;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.contact__submit_btn {
  padding-top: 40px;
}

#submit_btn:hover {
  background-color: rgb(7, 13, 162);
}

/* ===== IMG - STYLING ===== */
.img__map {
  padding-top: 100px;
  width: 100%;
}

body {
  max-width: 1440px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: auto;
}/*# sourceMappingURL=index.css.map */