@use 'text';

@import 'header';
@import 'home';
@import 'footer';
@import 'project_details';
@import 'contact';


body {
    max-width: 1440px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
}